/* Make all child divs in the legend left-aligned */
.info.legend > div {
  text-align: left !important;
}

/* Nice formatting for population numbers */
.summary-numberA {
  font-size: 1.5em;
  color: #82acb2;
  margin-left: 2em;
  font-weight: bold;
}

.summary-numberB {
  font-size: 1.5em;
  color: #d26c3a;
  margin-left: 2em;
  font-weight: bold;
}
